body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
border-radius: 20px;
padding: 50px 100px;
box-shadow: 
0 0 10px white,
0 0 15px white,
0 0 20px white,
0 0 40px #00cc2c,
0 0 50px #00cc2c,
0 0 60px #00cc2c,
inset 0 0 40px #00cc2c;
}

span{
    font-family: 'Neonderthaw', cursive;
    color: white;
    font-size: 5rem;
    user-select: none;
    text-shadow:
    0 0 10px white,
    0 0 15px white,
    0 0 20px white,
    0 0 40px #00cc2c,
    0 0 80px #00cc2c,
    0 0 100px #00cc2c;    
}

.rotto{
    animation: neon 1s linear infinite alternate;
}

@keyframes neon{
    0%,5%,30%,34%,100%{
        text-shadow:
    0 0 10px white,
    0 0 15px white,
    0 0 20px white,
    0 0 40px #00cc2c,
    0 0 80px #00cc2c,
    0 0 100px #00cc2c;    
    color: white;
    }
    2%,32%{
        text-shadow: none;
        color: black;
    }
}